extends ../layout.pug

block header
  header
    figure 
      img(src="./images/illustration-hero.svg", alt="alt")
    article
      h1 Order Summary
      p You can now listen to millions of songs, audiobooks, and podcasts on any device anywhere you like!
      div.plan
        div
          include ../../../dist/images/icon-music.svg
        div
          p Annual Plan
          p $59.99/year
        div
          a(href="#") Change
      button.btn-primary(type="submit") Proceed to Payment
      button.btn-secondary(type="submit") Cancel Order
block footer
  include ../componets/footer.pug